/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.DS_Store
.phpunit.result.cache
Homestead.json
composer.lock
workspace.xml
Homestead.yaml
npm-debug.log
yarn-error.log
.idea

